---
import Layout from "../../layouts/Layout.astro"
import './style.css';
---
<Layout title="About">
    <div>
        <img src='/astro_lablague/assets/images/image.webp' width="200" alt="lol">
        <div>
            <p><b>lablague</b> est une application web affichant des blagues issues de l'api offert par <a href="https://www.blablagues.net/" target="_blank" aria-label="blablagues">blablagues</a></p>
            <ul>
                <li>
                    <p>Stack utilisée : <a href="https://astro.build/" target="_blank" aria-label="Astro">Astro</a> + <a href="https://react.dev/" target="_blank" aria-label="React">React</a> + <a href="https://www.typescriptlang.org/" target="_blank" aria-label="TypeScript">TypeScript</a></p>
                </li>
                <li><p>Code source :  <a href="https://github.com/ElmahdiK/astro_lablague" target="_blank" aria-label="GitHub">GitHub</a></p></li>
                <li><p>Réalisée par : <a href="https://elmahdik.github.io/" target="_blank" aria-label="Elmahdi KORFED">Elmahdi KORFED</a></p></li>
            </ul>
        </div>
    </div>
</Layout>