nav {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
nav a {
  background-color: #fafafa;
  color: #000;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
